{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>Edit Basic Information </title>
	<link rel="icon" href="{% static 'images/my-logo.png' %}" type="image/png" sizes="16x16">

	<link rel="stylesheet" href="{% static 'css/main.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="{% static 'css/color.css' %}">
	<link rel="stylesheet" href="{% static 'css/responsive.css' %}">
	<link rel="stylesheet" href="{% static 'css/personal-style.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	{% include 'navbar.html' %} {% block nav %} {% endblock %}
	<section>
		<div class="feature-photo">
			<figure><img src="{% static 'images/resources/timeline-1.jpg' %}" alt=""></figure>
			<div class="add-btn">
				<span>{{self.followers}} followers</span>
				<a href="#" title="" data-ripple="">Add Friend</a>
			</div>

			<div class="container-fluid">
				<div class="row merged">
					<div class="col-lg-2 col-sm-3">
						<div class="user-avatar">
							<figure>
								<img src="{{self.image.url}}" alt="" style="max-height: 140px;">
								<form class="edit-phto" method="post" action="/changepp" enctype="multipart/form-data"> {% csrf_token %}
									<i class="fa fa-camera-retro"></i>
									<label class="fileContainer">
										Edit Display Photo
										<input type="file" name="pp" required onchange="this.form.submit()">
									</label>
								</form>
							</figure>
						</div>
					</div>
					<div class="col-lg-10 col-sm-9">
						<div class="timeline-info">
							<ul>
								<li>
									<a class="" href="edit-profile" title="" data-ripple=""><b>Edit Basic Information</b></a>
									<a class="" href="edit-password" title="" data-ripple="">Edit Password</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- top area -->

	<section>
		<div class="gap gray-bg">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12">
						<div class="row" id="page-contents">
							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'addFriends.html' %} {% block addFriends %} {% endblock %}								
								</aside>
							</div><!-- sidebar -->
							<div class="col-lg-6">
								<div class="central-meta">
									<div class="editing-info">
										<h5 class="f-title"><i class="ti-info-alt"></i> Edit Basic Information</h5>

										<form method="post" action="/edit-profile"> {% csrf_token %}
											<div class="form-group half">	
											  <input type="text" id="input" value="{{user.first_name}}" name="f_name">
											  <label class="control-label" for="input">First Name</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group half">	
											  <input type="text" value="{{user.last_name}}" name="l_name">
											  <label class="control-label" for="input">Last Name</label><i class="mtrl-select"></i>
											</div>
											<div class="form-group">	
											  <input type="text" value="{{user.email}}" name="email">
											  <label class="control-label" for="input"><a class="__cf_email__" data-cfemail="4b0e262a22270b">[email&#160;protected]</a></label><i class="mtrl-select"></i>
											</div>
											<div class="form-group">	
											  <input type="text" value="{{user.username}}" name="username">
											  <label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
											</div>
											<div class="form-radio">
											  <div class="radio">
												<label>
												  <input type="radio" {% if self.gender == "male" %} checked="checked" {% endif %} name="male"><i class="check-box"></i>Male
												</label>
											  </div>
											  <div class="radio">
												<label>
												  <input type="radio" {% if self.gender == "female" %} checked="checked" {% endif %} name="female"><i class="check-box"></i>Female
												</label>
											  </div>
											</div>
											<div class="submit-btns">
												<button type="submit" class="mtr-btn"><span>Update</span></button>
											</div>
										</form>
									</div>
								</div>	
							</div><!-- centerl meta -->
							<div class="col-lg-3">
								<aside class="sidebar static">
									{% include 'friends.html' %} {% block friends %} {% endblock %}
								</aside>
							</div><!-- sidebar -->
						</div>	
					</div>
				</div>
			</div>
		</div>	
	</section>
</div>
	
	
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/main.min.js' %}"></script>
	<script src="{% static 'js/script.js' %}"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8c55_YHLvDHGACkQscgbGLtLRdxBDCfI"></script>

	<script>
		$('input[type=radio]').change(function() {
			$('input[type=radio]').not(this).prop('checked', false);
		});
	
		window.onload = function(){
			var x = "{{error}}"
			if(x){
				alert(x)
			}
		}
	
	</script>
	

</body>	

</html>