{% load static %}
{% block friends %}


<div class="widget friend-list stick-widget">
    <h4 class="widget-title">Friends</h4>
    <div id="searchDir"></div>
    <ul id="people-list" class="friendz-list">
        {% for friend in friends %}
            <li>
                <figure>
                    <img src="{{friend.image}}" alt="" style="height:45px; width:45px;">
                    <span class="status f-{{friend.status}}"></span>
                </figure>
                <div class="friendz-meta">
                    <a href="/messages?t={{friend.username}}">{{friend.f_name}} {{friend.l_name}}</a>
                    <i><a class="__cf_email__" data-cfemail="a0d7c9ced4c5d2d3cfccc4c5d2e0c7cdc1c9cc8ec3cfcd">[email&#160;protected]</a></i>
                </div>
            </li>
        
        {% endfor %}
        
    </ul>

</div><!-- friends list sidebar -->

{% endblock %}